body{
    background:black;
    color:white;
    margin: 0px;

}
h1{
    text-align: center;
    padding: 3%;
    background:beige;
    color:black;    
    margin-bottom:0px;
    margin-top:0px;
}
.square{
    width: 25%;
    background:white;
    float: left;
    padding-bottom: 22%; 
    margin : 2%;
}

#container{
    width: 700px;
    margin:0px auto;
}
#pickedColor{
    text-transform: uppercase;
    font-size: 2em;
}
#navbar{
    background: white;
    padding:0.5%;
    color:black;
    text-align: center;
}
#reset,#message{
    margin-right : 100px;
}